@tailwind base;
@tailwind components;
@tailwind utilities;

button {
    background: none;
    border: none;
    font-size: 1em;
    cursor: pointer; 
}

* {
    font-family: monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.work-color-background{
    background-color: #282828;
    transition: all 0.5s ease;
}

.rest-color-background{
    transition: all 0.5s ease;
    background-color: #e0e0e0;
}

.work-color-text{
    transition: all 0.5s ease;
    color: bisque;
}

.rest-color-text{
    transition: all 0.5s ease;
    color: #282828;
}

nav button {
    @media not all and (min-width: 1024px) {
    }
}

nav button span {
    @media not all and (min-width: 1024px) {
        display: none;
    }
}

.clock {
    display: flex;
    max-width: 100%;
    width: min(100%, 350px);
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.work-color-clock{
    transition: all 0.5s ease;
    border: 4px solid #282828;
    box-shadow: -4px -4px 10px rgba(67, 67, 67, 0.5),
        inset 4px 4px 10px rgba(0, 0, 0, 0.5),
        inset -4px -4px 10px rgba(105, 91, 91, 0.3),
        4px 4px 10px rgba(0, 0, 0, 0.3);
}

.rest-color-clock{
    transition: all 0.5s ease;
    border: 4px solid #e0e0e0;
    box-shadow: -4px -4px 10px #bebebe,
        inset 4px 4px 10px #ffffff,
        inset -4px -4px 10px #bebebe,
        4px 4px 10px #ffffff;
}

.marco{
    border-radius: 25px;
}

.work-color-marco{
    transition: all 0.5s ease;
    border: 4px solid #282828;
    box-shadow: -4px -4px 10px rgba(67, 67, 67, 0.5),
    inset 4px 4px 10px rgba(0, 0, 0, 0.5),
    inset -4px -4px 10px rgba(67, 67, 67, 0.3),
    4px 4px 10px rgba(0, 0, 0, 0.3);
}

.rest-color-marco{
    transition: all 0.5s ease;
    border: 4px solid #e0e0e0;
    box-shadow: -4px -4px 10px #bebebe,
    inset 4px 4px 10px #ffffff,
    inset -4px -4px 10px #bebebe,
    4px 4px 10px #ffffff;
}

li {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 0px 10px 20px;
    border-radius: 10px;

}

.work-task {
    background: linear-gradient(145deg, #242424, #2b2b2b);
    box-shadow:  4px 4px 8px #1c1c1c,
                -4px -4px 8px #343434;
}

.rest-task {
    box-shadow: inset 4px 4px 8px #bebebe,
                inset -4px -4px 8px #fff;
}

li div{
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem/* 8px */;
    padding-right: 1rem/* 16px */;
}

.work-button {
    border-radius: 10px;
    background: linear-gradient(145deg, #242424, #2b2b2b);
    box-shadow:  4px 4px 8px #1c1c1c,
                -4px -4px 8px #343434;
    transition: all 0.5s ease;
}

.work-button:hover {
    box-shadow: none;
    border-width: 1px solid bisque;
}

.work-button:active {
    background: #282828;
    box-shadow: inset 4px 4px 8px #1c1c1c,
                inset -4px -4px 8px #343434;
}

.rest-button {
    border-radius: 10px;
    box-shadow: -4px -4px 10px #fff,
    inset 4px 4px 10px #bebebe,
    inset -4px -4px 10px #fff,
    4px 4px 10px #bebebe;
    transition: all 0.5s ease;
}

.rest-button:hover {
    box-shadow: none;
    border-width: 1px solid bisque;
}

.rest-button:active {
    box-shadow: inset 4px 4px 8px #bebebe,
                inset -4px -4px 8px #fff;
}

footer {
    padding: 0;
    margin: 0;
    border-radius: 25px 25px 0px 0px;
}

.work-footer {
    background: #282828;
    box-shadow: 4px 4px 8px #1c1c1c,
                -4px -4px 8px #343434;
}

.rest-footer {
    background: #e0e0e0;
    box-shadow: -4px -4px 10px #fff,
    4px 4px 10px #bebebe;
    transition: all 0.5s ease;
}

header {
    padding: 24px;
}

/* Title */
header h2 {
    margin: 0px;
    padding: 10px;
}

/* Navigator */
header nav {
    margin: 5px;
    padding: 0px;
    display: flex;

}

/* nav buttons */
nav button {
    display: flex;
    flex-direction: row;
    margin: 4px;
    padding: 6px;
}

/* nav button icon */
nav button svg {
    margin: 0px;
    padding: 0px;
}

/* nav button text */
nav button span {
    margin: 0px;
    margin-left: 6px;
    padding: 0px;
}

/* clock button */
.btn-clock {
    margin: 24px;
    padding: 6px 32px;
}

aside ul li {
    position: relative;
}

/* buttons container */
aside ul li div {
    display: flex;
    justify-content: space-around;
}

/* tasks */
aside ul li label {
    background-color: inherit;
    border: 1px solid #1c1c1c;
    padding: 10px;
    padding-bottom: 3rem;
    width: calc(100%);
}

aside ul li label:empty::before {
    position: absolute;
}

/* switch tasks buttons */
aside ul li div .switch {
    margin: 2px;
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 4px;
}

aside ul li #newTaskButton {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-bottom: 1.25rem;
    margin-right: 1.25rem;
    padding: 0.25rem;
}

main section header button {
    padding: 8px;
}

main section header #restTime {
    border-radius: 0px 10px 10px 0px;
    margin-left: 0px;
}

main section header #workTime {
    border-radius: 10px 0px 0px 10px;
    margin-right: 0px;
}

.work-pressed {
    box-shadow: inset 4px 4px 8px #1c1c1c,
                inset -4px -4px 8px #343434;
}

.rest-pressed {
    box-shadow: inset 4px 4px 8px #bebebe,
                inset -4px -4px 8px #fff;
}

.modal-content > section .label aside {
    padding-left: 1rem;
}

.modal-content > section .label aside h3 {
    font-size: smaller;
}

.modal-content > section > div > button{
    padding: 10px;
}
.modal-content > section > div > #restartSessionButton{
    transition: all 0.5s ease;
    padding: 10px;
    background: rgb(40,40,40);
    background: radial-gradient(circle, rgba(40,40,40,1) 14%, rgba(115,49,49,1) 100%);
}

.modal-content > section > div > #restartSessionButton:hover{
    transition: all 1s ease;
    background: rgba(115,49,49,1);
}

.modal-content section {
    display: flex;  
    flex-direction: column;
    gap: 2rem/* 32px */;
    padding-top: 3.5rem/* 40px */;
    padding-bottom: 2.5rem/* 40px */;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

.closeModal {
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 25px;
    padding-right: 25px;
    cursor: pointer;
}

#lenguageModal div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#lenguageModal div button {
    display: flex;
    padding: 10px;
}

#lenguageModal div button label{
    padding-right: 10px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(97, 97, 97, 0.5) !important;
    z-index: 1000;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 25px;
}

/* Estilo para pantallas de menos de 600px (celulares) */
@media only screen and (max-width: 600px) {
    .modal-content {
        width: 85%;
    }
}

/* Estilo para pantallas de 601px a 900px (tablets) */
@media only screen and (min-width: 601px) and (max-width: 900px) {
    .modal-content {
        width: 60%;
    }
}

.glass {
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(9px);
}

.label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.toggle {
    isolation: isolate;
    position: relative;
    height: 30px;
    width: 60px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: -4px -4px 10px rgba(67, 67, 67, 0.5),
        inset 4px 4px 10px rgba(0, 0, 0, 0.5),
        inset -4px -4px 10px rgba(67, 67, 67, 0.3),
        4px 4px 10px rgba(0, 0, 0, 0.3);
}

.toggle-state {
    display: none;
}

.indicator {
    height: 100%;
    width: 200%;
    background: bisque;
    border-radius: 15px;
    transform: translate3d(-75%, 0, 0);
    transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
    box-shadow: 4px 4px 8px #1c1c1c,
                -4px -4px 8px #343434;
}

.toggle-state:checked ~ .indicator {
    transform: translate3d(25%, 0, 0);
}

.reduce {
    transition: all 0.5s;
    height: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
}

.alert {
    transition: all .3s;
    border-color: bisque !important;
    border-width: 3px !important;
    box-shadow: 0 100 20px 5px bisque;
    box-shadow: inset 0 0 20px 5px bisque;
}

.no-alert {
    border: 1px solid #1c1c1c !important;
    box-shadow: 0 0 0px 0px bisque;
    box-shadow: inset 0 0 0px 0px bisque;
}